body {
   color: black;
   background-color: rgb(241, 241, 241);
   text-align: center;
   justify-content: center;
}

.dark-theme {
   color: white;
   background-color: rgb(6 5 4);
   
}

button#button1 {
   margin-top: 3px;
   display: flex;
   height: 50px;
   justify-items: center;
   border-radius: 12px;
}

   div.darkbutton{
      margin-inline-start: auto;
      margin-left: 5vh;
   }



p {
   font-size: 1.2rem;
}